<h1 class="title"><%= @product.title %></h1>
<div>
<%= image_tag @product.photo, width: 200 if @product.photo.attached? %>
</div>
<p class="description"><%= @product.description %></p>
<p class="price"><%= @product.price %>€</p>
<p><%= link_to t(".edit"), edit_product_path(@product.id) %></p>
<p><%= link_to t(".delete"), product_path(@product.id), data: {
                                                          turbo_method: :delete,
                                                          turbo_confirm: t("common.confirm"),
                                                        } %></p>
